{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block title %}home{% endblock %}
{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4 mx-5">
    {% for product in products %}
    <div class="col">
        <div class="card">
            <img src="{{ product.image | media_filter }}" class="img-thumbnail" style="height: 15rem"
                 alt="Изображение">
            <div class="card-body">
                <h5 class="card-title">Товар: {{ product.name }}</h5>
                <p class="card-text">Описание: {{ product.description | truncatechars:100 }}</p>
                <a href="{% url 'catalog:product_detail' product.pk %}">
                    <button type="button" class="btn btn-primary btn-sm">перейти</button>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
