<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Информация о товаре</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
{% load my_tags %}
<div class="card mb-3 position-absolute top-50 start-50 translate-middle" style="max-width: 1000px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ product.image | media_filter }}" class="card-img-top" alt="Изображение">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Наименование товара:</th>
                        <td class="fst-italic">{{ product.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Описание товара:</th>
                        <td class="fst-italic">{{ product.description }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Категория товара:</th>
                        <td class="fst-italic">{{ product.category }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Цена товара:</th>
                        <td class="fst-italic">{{ product.price }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Дата создания товара:</th>
                        <td class="fst-italic">{{ product.created_at }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Дата последнего изменения товара:</th>
                        <td class="fst-italic">{{ product.updated_at }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>