{% extends 'catalog/base.html' %}
{% block title %}success_add_product{% endblock %}
{% block content %}
{% include 'catalog/includes/include_menu.html' %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">My marketplace</h1>
    <p class="lead">My marketplace - это отличный вариант для покупки высококачественных товаров</p>
</div>
<div class="row text-center mb-5 mx-5">
    <div class="alert alert-success" role="alert">
        <h2>Товар успешно добавлен!</h2>
    </div>
</div>

{% endblock %}